<!--
<style>
button:hover{
  opacity: 0.7;
}
div {
   margin: auto;
        width: 25%;
        padding: 10px;
        background-color: rgba(242, 244, 245);
        box-shadow: 1px 5px rgb(220, 221, 222);
}
body {
  background-image: url("img.2.jpg");
  background-color: #111111;
}
</style>
-->
<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="display: flex; justify-content: space-between; background-color: #73a1eb;">
  <h1 class="navbar-brand" href="", style="color:white;position:relative;left:43%;"><i class="fa fa-bank" style="font-size:30px;color:#faf5fa"></i><strong><strong>Bank of Innova</strong></strong></h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  </div>
</nav>


<style>
  .emailLabel {
  }
  .signinInput{
    border-radius: 5px;
  }

  .submit{
    text-align: center;
  }

  .submit-btn{
    background-color: #73a1eb;
    color: #fff;
    padding: 5px 18px;
    text-align: center;
    border: none;
    border-radius: 2px;
  }

  .a{
    font-weight: 300px;
    font-style: normal;
  }
  
.LoginLayout {
    border: none;
    /* 0.5px solid black; */
    border-radius: 5px;
    background: white;
    width: 350px;
    height: 400px;
    left: 525px;
    top: 130px;
    padding: 30px;
    position: absolute;
    box-shadow: 0px 0px 10px #73a1eb;
}

 
</style>


<%= form_with url: validate_security_path do |form| %>
<div class="text-center">      
<div class="LoginLayout" >
      <div class="text-center">
    <div>
        <h3>Forgot password</h3>
    </div><br><br><br>
    
  <div class="emailLabel">
 <strong>Enter email</strong>
  <%= form.email_field :email, style:"border-radius: 0.375rem;border: 1px solid #ced4da;"%>
  <% @customer.errors.full_messages_for(:email).each do |message| %>
    <div><%= message %></div>
  <% end %>
  </div><br><br>

   <div class="submit">
    <%= form.submit "Next", class:"submit-btn"%>
    </div>
</div>
<% end %> 
</div>
</div>
<footer>
  <div class="text-center p-3" style="background-color: #73a1eb; position: fixed; bottom: 0px;width: 1400px;">
    <div class="text-center">
    © 2023 Copyright:
    <a class="text-dark" href="https://localhost:3000/">BankOfInnova.com</a>
    </div>
  </div>
</footer>